@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #D42F2F;
  --secondary: #165B33;
  --accent: #FFD700;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900;
}
